body {
	font-family: 'Roboto', sans-serif; 
	margin: 0px;
	background-image: url(BG.png);
}

#LogoAbout {
	display: inline-block;
	float: left;
	width: 200px;
	height: 130px;
	margin: 20px;
	background-image: url(FirstExport.svg);
}

#AboutInfo {
	display: inline-block;
	width: 1000px;
	min-width: 1200px;
	margin-top: 100px;
	margin-left: 50px;
	font-size: 30px;
}

#PS {
	color: #235099;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: 100px;

	font-family: Roboto;
	font-style: italic;
	font-size: 60px;
	line-height: 75px;
}