body {
	margin: 0;
	font-family: 'Roboto', sans-serif; 
	background-image: url(BG.png);
}

a {
	color: #000000;
	text-decoration: none;
}

#HeaderBlock {
	margin-top: 80px;
	width: 100%;
	height: 660px;
}

#Prediction {
	margin: 25px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 80%; 
	min-width: 1000px;
	height: 150px;
	font-size: 35px;
}

hr {
	width: 80%;
}

#MainOption {
	width: 600px;
	min-width: 600px;
	height: 50px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
}

.UserOption {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600px;
	height: 80px;
	border-radius: 48px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	transition: 0.2s;
}


.UserOption:hover {
	cursor: pointer;
	transform: scale(0.99);
	background-color: #edeff2;
	transition: 0.2s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

#FPict {
	position: relative;
	right: 90px;
	width: 50px;
	height: 50px;
	background-image: url(Search.png);
}

#SPict {
	position: relative;
	right: 80px;
	width: 50px;
	height: 50px;
	background-image: url(Age.png);
}

#TPict {
	position: relative;
	right: 35px;
	width: 50px;
	height: 50px;
	background-image: url(Book.png);
}

#PredMain {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	width: 285px;
	height: 80px;
	font-weight: bold;
}

#SearchBox {
	display: flex;
	margin-right: auto;
	margin-top: 100px;
	margin-left: auto;
	width: 1000px;
	min-width: 600px;
	height: 60px;
	border-radius: 50px;
	box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25);
	transition: .4s;
}

#SearchBox:hover {
	transition: .3s;
	background-color: #edeff2;
	box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.25), 5px 5px 20px rgba(0, 0, 0, 0.25);
	transition: .4s;
}

#SearchLogo {
	margin: 5px;
	width: 50px;
	height: 50px;
	background-image: url(Search.png);
}

#InputPlace {
	margin: 5px;
	width:850px;
	height: 50px;
	border: none;
	background-color: rgba(255, 255, 255, .0);;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

#AddLogo {
	position: relative;
	left: 20px;
	float: right;
	margin-top: 5px;
	width: 50px;
	height: 50px;
	background-image: url(Add.png);
}

#ContentSearch {
	margin-top: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	background-color: #D4D4D4;
	width: 1280px;
	min-width: 1000px;
	height: 700px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.hr {
	margin-top: 100px;
}

#AgeBox {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1250px;
}

#AgeLogo {
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 8px;
	margin-right: 10px;
	background-image: url(Age.png);
}

#NameLogo {
	float: right;
	font-size: 50px;
	width: 1100px;
	height: 70px;
}

#HistoryTable  {
	margin-top: 50px;
}

.Ages {
	cursor: pointer;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1.0);
	padding: 5px;
	font-family: Arial;
	color: white;
	font-size: 30px;
	border-radius: 10px;
	width: 250px;
	height: 160px;
	background-color: #D4D4D4;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
	transition: .1s;
	margin: 2px;
	opacity: .8;
}

.Ages:hover {
	transition: .2s;
	background-color: #a3a3a3;
	opacity: 1;
}

#TodayText {
	margin-top: 50px;
	font-weight: bold;
	font-size: 40px;
	width: 800px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#Today {
	cursor: pointer;
	opacity: .6;
	background-image: url(21.jpg);
	margin-top: 10px;
	transition: .2s;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background-color: #D4D4D4;
	width: 400px;
	height: 300px;
	border-radius: 10px;
}

#Today:hover {
	opacity: .8;
	transition: .2s;
	background-color: #a3a3a3;
} 

#BookLogo {
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 8px;
	margin-right: 10px;
	background-image: url(Book.png);
}

#NameBook {
	float: right;
	font-size: 40px;
	width: 1100px;
	height: 100px;
}

#BookBox {
	width: 1300px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#BookImg {
	background-image: url(CarlBook.png);
	float: left;
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: #D4D4D4;
	border-radius: 10px;
}

#AboutBook {
	padding: 10px;
	background-image: url(BlackPaper2.png);
	margin-left: 30px;
	width: 1100px;
	height: 1100px;
	font-size: 20px;
	background-color: #D4D4D4;
	border-radius: 10px;
}

#FootPS {
	background-color: #81a0d4;
	display: flex;
	width: 1300px;
	height: 100px;
	font-size: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

#One {
	background-image: url(1.jpg);
}

#Two {
	background-image: url(2.jpg);
}

#Three {
	background-image: url(3.jpg);
}

#Four {
	background-image: url(4.jpg);
}

#Five {
	background-image: url(5.jpg);
}

#Six {
	background-image: url(6.jpg);
}

#Seven {
	background-image: url(7.jpg);
}

#Eight {
	background-image: url(8.jpg);
}

#Nine {
	background-image: url(9.jpg);
}

#Ten {
	background-image: url(10.jpg);
}

#Eleven {
	background-image: url(11.jpg);
}

#Twelve {
	background-image: url(12.jpg);
}

#Thirteen {
	background-image: url(13.jpg);
}

#Fourteen {
	background-image: url(14.jpg);
}

#Fifteen {
	background-image: url(15.jpg);
}

#Sixteen {
	background-image: url(16.jpg);
}

#Seventeen {
	background-image: url(17.jpg);
}

#Eighteen {
	background-image: url(18.jpg);
}

#Nineteen {
	background-image: url(19.jpg);
}

#Twenty {
	background-image: url(20.jpg);
}