body {
	font-family: 'Roboto', sans-serif; 
	margin: 0px;
	background-image: url(BG.png);
}

a {
	color: #7b98e8;
	text-decoration: none;
}

#LogoAbout {
	display: inline-block;
	float: left;
	width: 200px;
	height: 130px;
	margin: 20px;
	margin-top: 100px;
	background-image: url(FirstExport.svg);
}

#MainInfo {
	display: inline-block;
	width: 1000px;
	min-width: 1200px;
	margin-top: 100px;
	margin-left: 50px;
	font-size: 30px;
}

#Rules {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	width: 800px;
	height: 350px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}
